{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">



        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

              <ul class="share">
                  <li>
                    <a href="#twitter">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M0.983607 11.6613L3.93443 12.6449C3.93443 12.6449 1.86525 10.4799 1.47541 8.71046C1.10121 7.012 1.96721 4.28423 1.96721 4.28423C1.96721 4.28423 5.15889 7.91515 7.86885 9.20226C10.5227 10.4627 14.7541 10.6777 14.7541 10.6777C14.7541 10.6777 14.6586 7.39427 15.7377 5.75969C16.5641 4.50784 17.2682 3.7833 18.6885 3.30068C19.9615 2.86812 20.8381 2.93272 22.1311 3.30068C23.7202 3.75286 24.5599 4.4552 25.5738 5.75969C26.4714 6.91457 27.0492 9.20226 27.0492 9.20226C27.0492 9.20226 26.8847 15.2821 25.082 18.5465C23.375 21.6375 21.6887 23.5698 18.6885 25.4318C15.4371 27.4498 13.1711 27.8908 9.34426 27.8908C5.51747 27.8908 0 24.94 0 24.94C0 24.94 3.71313 24.7748 5.90164 23.9564C7.10841 23.5051 8.85246 22.4809 8.85246 22.4809C8.85246 22.4809 6.58528 21.8761 5.40984 21.0055C4.20437 20.1128 2.95082 18.0547 2.95082 18.0547H5.90164C5.90164 18.0547 3.46365 16.9073 2.45902 15.5957C1.4612 14.293 0.983607 11.6613 0.983607 11.6613Z" fill="black"/>
                        <path d="M25.082 5.26789L29.0165 3.79248L26.0656 7.2351L30.0001 5.75969L27.0492 9.20232L26.0656 7.2351L25.082 5.26789Z" fill="black"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="30" height="30" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#facebook">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V28C0 29.1046 0.89543 30 2 30H16.625V19.1346H12.5V14.4231H16.625V9.03846C16.625 5.67308 20.75 5 20.75 5H26.25V9.03846C26.25 9.03846 22.8125 8.36539 22.125 9.03846C21.4375 9.71154 21.4375 10.3846 21.4375 10.3846V14.4231H25.5625V19.1346H21.4375V30H28C29.1046 30 30 29.1046 30 28V2C30 0.895431 29.1046 0 28 0H2Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#linkedin">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V28C0 29.1046 0.89543 30 2 30H28C29.1046 30 30 29.1046 30 28V2C30 0.895431 29.1046 0 28 0H2ZM6 10V24H10V10H6ZM10 6C10 7.10457 9.10457 8 8 8C6.89543 8 6 7.10457 6 6C6 4.89543 6.89543 4 8 4C9.10457 4 10 4.89543 10 6ZM12.5 10H16.5V12C16.5 12 17.9338 10.1586 19.5 10C19.8885 9.96065 20.1106 9.97005 20.5 10C20.5521 10.004 20.6037 10.0079 20.6546 10.0118C21.8071 10.0989 22.6637 10.1637 23.5 11C24.3732 11.8732 25 13 25 14V24H21V16C21 16 21.5 13.5 19 13.5C16.5 13.5 16.5 16 16.5 16V24H12.5V10Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                </ul>

            <header class="post-full-header">

                {{#if primary_tag}}
                <section class="post-full-tags">
                    {{#primary_tag}}
                    <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                </section>
                {{/if}}

                <h1 class="post-full-title">{{title}}</h1>

                {{#if custom_excerpt}}
                <p class="post-full-custom-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                <div class="post-full-byline">

                    <section class="post-full-byline-content">

                        <ul class="author-list">
                            {{#foreach authors}}
                            <li class="author-list-item">

                                <div class="author-card">
                                    {{#if profile_image}}
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                                    {{else}}
                                    <div class="author-profile-image">{{> "icons/avatar"}}</div>
                                    {{/if}}
                                    <div class="author-info">
                                        {{#if bio}}
                                        <div class="bio">
                                            <h2>{{name}}</h2>
                                            <p>{{bio}}</p>
                                            <p><a href="{{url}}">More posts</a> by {{name}}.</p>
                                        </div>
                                        {{else}}
                                        <h2>{{name}}</h2>
                                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                                        {{/if}}
                                    </div>
                                </div>

                                {{#if profile_image}}
                                <a href="{{url}}" class="author-avatar">
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                                </a>
                                {{else}}
                                <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                                {{/if}}

                            </li>
                            {{/foreach}}
                        </ul>

                        <section class="post-full-byline-meta">
                            <h4 class="author-name">{{authors}}</h4>
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                            </div>
                        </section>

                    </section>

                </div>

            </header>


            <section class="post-full-content">


                <div class="post-content">

                  <section class="play-section">
                      <a href="#" class="antenna-play-trigger" data-media-title="Thursday morning in the 12th">
                      <figure>
                        <div class="play-bg" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url({{img_url feature_image size="xl"}});">
                        <img class="play-button" src="{{asset 'images/play.svg'}}" />
                        </div>
                        <figcaption>Cliquez sur ce bandeau pour lancer la version audio de cet article</figcaption>
                      </figure>
                      </a>
                    </section>
                    {{content}}
                </div>
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.members}}
                {{> subscribe-form}}
            {{/if}}

            {{!--
            <section class="post-full-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}

        </article>

    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                {{#if related_posts}}
                <article class="read-next-card">
                    <header class="read-next-card-header">
                        {{#../primary_tag}}
                        <h3><span>More in</span> <a href="{{url}}">{{name}}</a></h3>
                        {{/../primary_tag}}
                    </header>
                    <div class="read-next-card-content">
                        <ul>
                            {{#foreach related_posts}}
                            <li>
                                <h4><a href="{{url}}">{{title}}</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> –
                                        {{reading_time}}</p>
                                </div>
                            </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}
                            →</a>
                    </footer>
                </article>
                {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
                {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
                {{> "post-card"}}
            {{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Replace nav with title on scroll - start
        Casper.stickyNavTitle({
            navSelector: '.site-nav-main',
            titleSelector: '.post-full-title',
            activeClass: 'nav-post-title-active'
        });
        // Replace nav with title on scroll - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>
{{/contentFor}}
